<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="opened != opened">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" >
        Overview
      <mat-icon>navigation</mat-icon>
      </a>
      <a mat-list-item routerLink="/vertical-chart"> Vertical Chart </a>
      <a mat-list-item routerLink="/pie-chart">Pie Chart</a>
      <a mat-list-item routerLink="/map">Map</a>
      <a mat-list-item routerLink="/table">Table</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Earthquake Data Visualization</span>
        <button mat-icon-button>
          <mat-icon>refresh</mat-icon>
        </button>
      </mat-toolbar>
    <ng-content>

    </ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
